[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SentimentAnalysis"]
	path = SentimentAnalysis
	url = https://github.com/sfeuerriegel/sentimentanalysis
